html, body {
  min-height: 100%;
  position: relative;
}

button {
  cursor: pointer;
}

button, input {
  font-size: inherit;
}

button:focus, input:focus {
  outline: 0;
}

body {
  background-color: #111;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  max-width: 500px;
  color: #fff;
  padding: 100px 30px 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.clock-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.add-task {
  display: flex;
  margin-bottom: 30px;
}

.add-task-input {
  flex-grow: 1;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 0;
  border-radius: 3px 0 0 3px;
}

.add-task-button {
  background-color: #0080ff;
  line-height: 50px;
  color: #fff;
  padding: 0 30px;
  border: 0;
  border-radius: 0 3px 3px 0;
}

.task-list {
  display: flex;
  flex-direction: column-reverse;
}

.task-list-item {
  display: flex;
  padding: 20px 15px;
  border: 1px solid #222;
  border-radius: 3px;
  margin-top: 15px;
}

.task-list-itemContent {
  flex-grow: 1;
  padding-right: 30px;
}

.task-list-itemTitle {
  margin-bottom: 15px;
}

.task-list-itemLog {
  font-family: 'Courier New', Courier, monospace;
  color: #666;
  margin-top: 10px;
}

.start-timer {
  width: 50px;
  height: 50px;
  background-color: transparent;
  font-size: 0;
  border: 2px solid #222;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
}

.start-timer:before,
.start-timer:after {
  content: '';
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.start-timer:before {
  border-top: 10px solid transparent;
  border-left: 14px solid #fff;
  border-bottom: 10px solid transparent;
  left: 17px;
}

.start-timer:after {
  right: 17px;
}

.pause:before,
.pause:after {
  width: 3px;
  height: 20px;
  background-color: #fff;
  border: 0;
}
