:root {
  --bg-color: #f1f1f1;
  --fg-color: #111;

  --color-light: #fff;
  --color-dark: #000;
  --color-grey: rgba(130, 130, 130, 0.5);
  --color-red: red;
  --color-blue: #0080ff;

  --color-task-item-bg: #fff;
}
